<div class="p-3 m-0 border-0 bd-example" style="display: flex;">
    <div class="position-relative" style="align-content: center;">
        <div id="clockContainer" style="top: 10px" class="ms-auto">
            <div id="hour"></div>
            <div id="minute"></div>
            <div id="second"></div>

            <br><br><br><br><br><br><br><br>

            <script type="text/javascript">
                var ladate = new Date()
                var tab_jour = new Array("Dimanche Fermé", "Lundi Ouvert de 8h30 à 12h30 et de 14h à 18h30 ", "Mardi Ouvert de 8h30 à 12h30 et de 14h à 18h30", "Mercredi Ouvert de 8h30 à 12h30 et de 14h à 18h30", "Jeudi Ouvert de 8h30 à 12h30 et de 14h à 18h30", "Vendredi Ouvert de 8h30 à 12h30 et de 14h à 18h30", "Samedi Fermé");
                document.write(tab_jour[ladate.getDay()])
            </script>
        </div>
    </div>
    <br><br><br><br>

    <div class="position-relative" style="display: flex; width: 100%;">
        <div class="ms-auto" style="left: 40%; width: 75%;">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="../include/1.png" alt="" <rect width="100%" height="75%" fill="#666"></rect>
                    </div>
                    <div class="carousel-item active">

                        <img src="../include/1.png" alt="" <rect width="100%" height="75%" fill="#666"></rect>
                    </div>
                    <div class="carousel-item">
                        <img src="../include/1.png" alt="" <rect width="100%" height="75%" fill="#666"></rect>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>