<main>
  <header class="header border-bottom">
    <nav class="navbar">
      <!-- Logo du garage -->
      <img src="../include/logo.png" class="logo" alt="logo">
      <!-- Menu -->
      <ul class="nav-pills">
        <li class="nav-item"><a href="?p=index" id="btn1" class="nav-link" aria-current="page">Accueil</a></li>
        <li class="nav-item"><a href="?p=prestation" id="btn2" class="nav-link">Nos Prestations</a></li>
        <li class="nav-item"><a href="?p=voiture" id="btn3" class="nav-link">Voitures</a></li>
        <li class="nav-item"><a href="?p=plan" id="btn4" class="nav-link">Nous Situer</a></li>
        <li class="nav-item"><a href="?p=contact" id="btn5" class="nav-link">Contact</a></li>
      </ul>
      <!-- Burger-menu -->
      <div class="burger-menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Basculer la navigation" _mstaria-label="320099" _msthash="471">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <!-- Header réduit -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 style="color: red;">Chronomeca</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer" _mstaria-label="59709"
            _msthash="473"></button>
        </div>
        <div class="nav-pills-menu">
          <a href="?p=index" id="btn1" class="nav-link" style="border-radius: 15px; padding: 6%;" aria-current="page">Accueil</a> 
          <a href="?p=prestation" id="btn2" class="nav-link" style="border-radius: 15px; padding: 6%;">Nos Prestations</a>
          <a href="?p=voiture" id="btn3" class="nav-link" style="border-radius: 15px; padding: 6%;">Voitures</a>
          <a href="?p=plan" id="btn4" class="nav-link" style="border-radius: 15px; padding: 6%;">Nous Situer</a>
          <a href="?p=contact" id="btn5" class="nav-link" style="border-radius: 15px; padding: 6%;">Contact</a>
        </div>
      </div>
    </nav>
  </header>
</main><br>