<div class="alert alert-light" role="alert" style="border-color:red;">
  Bienvenue au Garage Chronomeca
  <br>
  Situé à Meaux, nous assurons l’entretien, la réparation mécanique et électricité de votre véhicule quel que soit la
  marque.

  Bénéficier d’un conseil personnalisé selon l’utilisation de votre véhicule.
  <br>
  Chaque devis est gratuit et une facture sans surprise, AUCUN supplément ne pourra être facturé au client sans son
  accord préalable.

  Avec Garage Chronomeca, la garantie constructeur est préservée sur TOUTES les opérations d’entretiens ou de
  réparations.
  <br>
  Notre équipe d'experts vous apportera la meilleur solution au meilleur tarif pour votre véhicule tout en préservant
  la garantie constructeur.
  <br>
  A chaque vidange, vous bénéficiez d'un contrôle complet et d'un diagnostique électronique gratuit de votre véhicule
  afin de vous assurer des performances maximal et d'une durée de vie beaucoup plus longue.
  <br>
  Interventions rapides, sans rendez-vous avec prise en charge immédiate de votre véhicule.
  <br>
  Nous intervenons également sur rendez-vous, si vous le souhaitez.
  <br>
  Nous sommes à votre disposition afin de vous conseiller et répondre à vos attentes.
  <br>
  Chronomeca, c’est la meilleur solution qualité/compétence/prix.
  <br>
  Afin d'obtenir un devis par mail, merci de nous envoyer un mail à contact@chronomeca.fr avec la carte grise en piece
  jointe ainsi que la réparation / entretien souhaités.
  ﻿
</div>